

.boringless-vid-div {
  position: fixed;
  z-index: 1000;
  top: 100px;
  left: 500px;
}


.boringless-hidebutton {
  border: black solid 1px;
}

.boringless-movement {
  height: 20px;
  background-color: #add8ff;

  cursor: move;
}

.boringless-vid {
  width: 200px;
  height: 400px;

  resize: both;
}
